<md-sidenav-container fullscreen>
    <md-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavIsOpen">
        <md-nav-list>
            <img md-list-avatar fxFlexFill src="/assets/image/logo.png" alt="...">
            <md-list-item routerLinkActive="mat-list-item-focus" routerLink="{{menu.path}}" *ngFor="let menu of menus" mdTooltip="{{sidenavIsShowText?null:menu.name}}">
                <md-icon md-list-icon *ngIf="menu.icon">{{menu.icon}}</md-icon>
                <a md-line *ngIf="sidenavIsShowText">{{menu.name}}</a>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <div class="flex-contaner" fxFlex fxLayout="column">
        <div fxFlex="0 0 auto">
            <md-toolbar>
                <div class="flex-contaner" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
                    <div class="flex-item" fxFlex="0 0 auto">
                        <button md-icon-button fxHide.gt-xs="true" (click)="sidenavToggle()"><md-icon>menu</md-icon></button>
                        <span>{{cache.title}}</span>
                    </div>
                    <div class="flex-item" fxFlex fxLayoutGap="10px" fxLayoutAlign="center">
                        <button *ngIf="cache.createFunction" md-mini-fab color="primary" mdTooltip="新建" (click)="cache.createFunction()"><md-icon>add</md-icon></button>
                        <button *ngIf="cache.findFunction" md-mini-fab color="primary" mdTooltip="刷新" (click)="cache.findFunction()"><md-icon>refresh</md-icon></button>
                    </div>
                    <div *ngIf="cache.findFunction&&media.isActive('gt-sm')" class="flex-item" fxFlex="0 0 auto" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <md-input-container *ngIf="queryIsOpened" style="font-size:x-small;">
                            <input [(ngModel)]="searchText" mdInput [placeholder]="cache.searchPlaceholder">
                        </md-input-container>
                        <button *ngIf="queryIsOpened" md-mini-fab color="primary" mdTooltip="查询" (click)="cache.findFunction(searchText)"><md-icon>search</md-icon></button>
                        <button *ngIf="queryIsOpened" md-mini-fab mdTooltip="重置" (click)="searchText='';queryIsOpened=!queryIsOpened;cache.findFunction('')"><md-icon>undo</md-icon></button>
                        <button *ngIf="!queryIsOpened" md-icon-button (click)="queryIsOpened=!queryIsOpened"><md-icon>search</md-icon></button>
                    </div>
                    <div class="flex-item" fxFlex="0 0 auto">
                        <button md-icon-button [mdMenuTriggerFor]="accountMenu" fxHide.gt-xs="true"><md-icon>account_circle</md-icon></button>
                        <button md-button [mdMenuTriggerFor]="accountMenu" fxHide.lt-sm="true"><md-icon>account_circle</md-icon><span>{{cache.loginUser.lastName + ' ' + cache.loginUser.firstName}}</span></button>
                        <md-menu #accountMenu="mdMenu">
                            <button md-menu-item>
                                <md-icon>vpn_key</md-icon>
                                <span>修改密码</span>
                            </button>
                            <button md-menu-item (click)="logout()">
                                <md-icon>power_settings_new</md-icon>
                                <span>登出</span>
                            </button>
                        </md-menu>
                    </div>
                </div>
            </md-toolbar>
        </div>
        <div class="flex-item" fxFlex fxLayout="column" style="overflow:auto;">
            <div class="flex-item" fxFlex style="padding:10px;">
                <router-outlet></router-outlet>
            </div>
            <md-toolbar fxFlex="0 0 auto">
                <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" style="font-size:x-small;">
                    <div fxFlex="0 0 auto">&copy; 劉宏哲 2017</div>
                    <div fxFlex></div>
                    <div fxFlex="0 0 auto">系统技术问题请联系刘宏哲 18240090928</div>
                </div>
            </md-toolbar>
        </div>
    </div>
</md-sidenav-container>